body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(212, 45%, 89%);
  box-sizing: border-box;
  padding:150px;
  
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 10px;
width: 200px;
height: 300px;
border-radius: 8px;

  
}
.img{
  width: 200px;
  border-radius:8px;
}
h1{
  font-size: 15px;
  text-align: center;
  
}
p{
  font-size: 10px;
  text-align: center;
  color: rgb(100, 99, 99);
}

